{% extends "templates/web.html" %}

{% block page_content %}
<!-- <h1 class="mt-20">{{ item_name }}</h1> -->

<div class="py-20 row">
    <div class="">
        <img src="{{ item_image }}" alt="{{ item_name }}" style="max-width: 250px;max-height: 250px;">
    </div>
    <div class="col ml-10">
        <!-- <div class="row">   -->
            <h1>{{ item_name }}</h1>
            <p class="lead">Code: {{ item_code }}</p>
            <div class="" style="font-size: 30px;">
                <div>Rate: <strong>₹ {{ rate }} / {{ def_uom }}</strong></div>
            </div> 
            
            <div class="mt-10" style="font-size: 20px;">
                
                <div class="input-group">
                    <input style="max-width: 100px;" type="number" class="form-control" value="0" id="item_qty" />
                    <div class="input-group-append" >
                        <span class="input-group-text"><strong>{{def_uom}}</strong></span>
                    </div>
                </div>
            </div>
        <!-- </div> -->
        <div class="mt-14">
            <button  id='add_item' onclick="insert()" name='add_item' type="button" class="btn btn-outline-warning" style="font-size: 25px;font-weight: bolder;">
                Add to cart<i class="fas fa-shopping-cart"></i>
            </button>
        </div>

        <div id = 'get-info' class=" row ml-0 mt-5 card p-0 " style="width: 360px; display: none;">
            <input class="form-control" type="text" placeholder="First Name" id="customer-first-name" />
            <input class="form-control mt-4" type="text" placeholder="Last Name" id="customer-last-name" />
            <input class="form-control mt-4" type="text" placeholder="Customer Id" id="customer-id" />
            <button class="btn btn-success mt-4 w-100" onclick="change_values()" id="info_submit">Submit</button>
          </div>
    </div>
</div>

<script>

    var customer = '{{ frappe.get_fullname() }}';
    var item_name = '{{ item_name }}' ;
    var item_code = '{{ item_code }}' ;
    var item_rate = '{{ rate }}' ;
    
    
    function insert(){

        var quant = document.getElementById('item_qty').value;
        frappe.call({
            method: 'financemod.financemod.doctype.item.item.clickmethod',
            args: {
                'customer': customer,
                'quantity': quant ,
                'item': { 
                    'name': item_name,
                    'code': item_code,
                    'rate': item_rate 
                    }
                
            },
            callback: function(res) {
                if( res.message == 'error'){
                    $(document).ready( function() {
                        frappe.msgprint('Please Enter name and id\n <b>ID sould be UNIQUE</b>');
                        $('#get-info').toggle();
                    });
                }
                else if(res.message == 'trans_error'){
                    frappe.msgprint('Failed to add!')
                }
                else {
                    frappe.msgprint('Item Added to Cart!')
                }
            }
        });
    }


    function change_values(){
        var fname = document.getElementById('customer-first-name').value;
        var lname = document.getElementById('customer-last-name').value;
        var id = document.getElementById('customer-id').value;
        frappe.call({
            method: 'financemod.financemod.doctype.item.item.insert_customer',
            args: {
                'fname': fname,
                'lname': lname ,
                'cid': id
                
            },
            callback: function(res) {
                if( res.message != 'error'){
                    alert(res.message)
                    customer = fname + ' ' + lname;
                    insert();
                }
                
            }
        });

    }



</script>
{% endblock %}

<!-- this is a sample default web page template -->